header{
  position:fixed;
  top:0;
  left:0;
  z-index:99;
  width:100%;
  padding:35px 0;

  .container{
    padding:0 30px;
    max-width:1460px;
    width:100%;
    margin:auto;
  }
  .logo{
    width:145px;
    float:left;
  }

  nav{
    float:left;
    margin-left:55px;
    padding-top:15px;

    ul{
      li{
        float:left;
        font-weight:500;
        font-size: 18px;
        letter-spacing: 0;
        margin-right:20px;
      }
    }
  }
}
