.hero-section{
  //background: rgb(254,198,9);
  //background: linear-gradient(51deg, rgba(254,198,9,1) 39%, rgba(239,90,32,1) 100%);
  //background:url(../images/hero-image.png) no-repeat scroll center center transparent;
  background-size:cover;


  @media screen and (max-width: $md) {
    padding-top:360px;
    padding-bottom:50px;
  }

  .container{
    height:100vh;

    @media screen and (max-width: $md) {
      height:unset;
    }
  }

  .video-container{
    position:absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    right: 0;
    top:0;
    z-index:-1;

    @media screen and (max-width: $md) {
      width:150%;
    }
    @media screen and (max-width: $sm) {
      width:180%;
    }

    video{
      position:absolute;
      object-fit: cover;

      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1000;
      overflow: hidden;
    }
  }

  h1{
    max-width:820px;
  }

  .text{
    font-weight:normal;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top:20px;
    margin-bottom:5px;
    max-width:500px;

    @media screen and (max-width: $xl) {
      font-size: 18px;
    }
    @media screen and (max-width: $md) {
      font-size: 16px;
      max-width:unset;
    }
  }
}
