.hero-section{
  background: rgb(254,198,9);
  background: linear-gradient(51deg, rgba(254,198,9,1) 39%, rgba(239,90,32,1) 100%);
  h1{
    max-width:840px;
  }

  .text{
    font-weight:normal;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    line-height: 26px;
    margin-top:20px;
    margin-bottom:5px;
    max-width:400px;
  }
}
