.section{
  overflow: hidden;
  &.video-section{
    .container{
      padding:0 0 0 30px;
      height:100%;

      @media screen and (max-width: $md) {
        height:unset;
        padding:0;
      }
    }

    .video-section-content{
      width:100%;
      transform:translateY(-100%);
      transition: 1250ms all ease-in-out 0ms;
      opacity:0;
      will-change: transform;


      @media screen and (max-width: $md) {
        padding:40px 30px;
        opacity:1 !important;
        transform:unset !important;
      }
    }

    &.slide-up{
      .video-section-content{
        transform:translateY(100%);
      }
    }
    &.slide-down{
      .video-section-content{
        transform:translateY(-100%);
      }
    }
    &.active{
      .video-section-content{
        transform:translateY(0);
        opacity:1;
      }
    }

    &.leave{
      transition: 0ms all ease-in-out 0ms;
    }

    .video-container{
      position:absolute;
      height: 100%;
      width: 50vw;
      overflow: hidden;
      right: 0;
      top:0;

      @media screen and (max-width: $md) {
        width:100%;
        position:relative;
        padding-top:100%;
      }

      video{
        position:absolute;
        object-fit: cover;

        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;


      }
    }
  }
}
